.search_wrapper{
    padding: 10px;
    background-color: #223;
    display: flex;
}

.search_input{
    width: 100%;
    background-color: #112;
    border: none;
    padding: 5px 20px;
    margin: 3px;
    display: block;
    border-top-left-radius: 20px;
    color: white;
}

.search_input:focus{
    border: none;
    outline: 3px solid #334;
}

.search_yearInput{
    width: 100px;
    display: block;
    margin: 6px 15px;
    border: none;
    border-radius: 5px;
    background: #223;
}
.search_yearInput:focus{
    border: none;
    outline: 3px solid #334;
}

.search_yearInput::placeholder{

}

.search_button{
    width: 100px;
    flex-shrink: 0;
    display: block;
    border: none;
    background: #88a;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    background-image: url('../../assets/search_icon.svg');
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 10px center;
    padding-left: 30px;
    cursor: pointer;
}

.search_props{
    width: 100%;
    background-color: #112;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.search_query{
    width: 100%;
}

.search_years{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.pagination_button{
    display: block;
}

.pagination_button_active{

}

.pagination_center{
    display: flex;
}

.pagination_input{
    width: 50px;
    display: block;
    border: none;
    border-radius: 5px;
    background: #223; 
    margin: 0px 8px;
}

.pagination_total{
    margin: 0px 8px;
}

.pagination_wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

